.about {
  background-color: transparent;
  font-size: 1.1em;
}

.profile__pic {
  max-width: 18em;
  border: none; 
  max-height: 300px;
}

.my-details {
  background-color: rgba(255, 255, 255, 0.747);
}
.img-thumbnail{
  padding: 0px;
}